<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating Page</title>
</head>
<body>
<form method="post">
    <input type="text" name="title" placeholder="Book Title">
    <input type="text" name="description" placeholder="Book Description">
    <input type="text" name="author" placeholder="Book Author">
    <input type="number" name="price" placeholder="Book Price">
    <input type="submit" value="Save">
</form>
<a href="/" class="back-button">Back to Home</a>
</body>
</html>
